@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/csspinner.css")" />
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Controllers/StationController.js")"></script>
}

<h1>Radiost*r</h1>
<p><small>Broadcast yourself</small></p>

<div class="container" ng-controller="StationController">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1>Jukebox <small><sup> <span class="label label-success">New!</span></sup></small></h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        Start a Jukebox for work in less-than five clicks.
                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-click="createStation = true">Go!</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h1>Radio Station <small><sup> <span class="label label-default"></span></sup></small> </h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        Start your very own Radio Station and broadcast yourself.
                    </div>
                </div>

                <button type="button" class="btn btn-default">Coming soon...</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-show="createStation">
            <div class="jumbotron">
                <div class="form-group">
                    <label for="stationName">Choose a name for your Jukebox</label>
                    <input type="text" class="form-control" id="stationName" ng-model="station.name" placeholder="e.g. Funkin' beats'">
                </div>
                <div class="form-group">
                    <label for="stationDescription">Describe the music that will play on it</label>
                    <input type="text" class="form-control" id="stationDescription" ng-model="station.description" placeholder="e.g. All the funkin' beats that you can handle!">
                </div>
                <button ng-click="create()" class="btn btn-success">Next</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-show="chooseMusic">
            <div class="container">
                <h2>Ok, let's choose some music...</h2>

                <div class="form-group">
                    <label for="spotifyUsername">Enter a Spotify Username</label>
                    <input type="text" class="form-control" id="spotifyUsername" ng-model="spotify.userId">
                </div>
                
                <button ng-click="getPlaylists()" class="btn btn-success">Go</button>
                
                <div class="container" ng-show="choosePlaylists">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Playlist <span class="badge pull-right">tracks</span></th>
                                <th>By</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="playlist in spotify.playlists">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ playlist.Name }} <span class="badge pull-right">{{ playlist.TrackCount }}</span></td>
                                <td>{{ playlist.OwnerUserId }}</td>
                                <td>
                                    <button class="btn btn-success" ng-click="addPlaylist(playlist)"
                                            ng-disabled="playlist.Add">Add</button>
                                    <div class="csspinner bar"
                                         ng-show="playlist.Loading">
                                        Loading...
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <button ng-click="startTxer()" class="btn btn-danger">Start the Jukebox!</button>
                </div>

                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-show="finished">
            <div class="jumbotron">
                <h2>Nice work!</h2>
                Your Jukebox has been started and is playing your favourite music right now. Copy this URL and share it with your friends:

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>https://radiostr.com/tx/a6b5da</h4>
                    </div>
                </div>

                Now all you need to do is:
                <ul>
                    <li><a href="#download">Download a player</a>. We have players for Windows, Mac, Linux and Mobile.</li>
                    <li><a href="#share">Share with your friends</a>. Email or Twitter them these instructions or we can do it for you.</li>
                    <li>
                        <a href="#signin">Sign-in with Twitter</a>. If you would like to manage your Jukebox then you will need to sign-in with Twitter
                        now (before you close this browser). Once you sign-in you can add more admin users, link more Spotify accounts
                        and create the ultimate library for your Jukebox. It's easy and it's completely free.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loading">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1>Loading...</h1>
            </div>
        </div>
    </div>

    <div class="row" ng-show="error">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{ error }}
            </div>
        </div>
    </div>
</div>

