<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <!-- <add name="Radiostr" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=Radiostr_Test;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
    <add name="Radiostr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Radiostr_Test.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>